@charset "UTF-8";
body{
  background-color: #f7f5f2;
  padding-top: 66px;
}
.topMenuBar{
  padding: 1rem;
  color: #1e1919;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.topMenuBarRight{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.topMenuText{
  margin: 10px;
}
@media (min-width: 1200px) {
  .container{
    display: flex;
    justify-content: center;
    margin-bottom: 170px;
    flex-wrap: wrap;
  }
  .containerTop{
    display: flex;
    justify-content: center;
    margin-bottom: 170px;
    flex-wrap: wrap;
  }
  .container2{
    display: flex;
    justify-content: center;
    margin-bottom: 170px;
    flex-wrap: wrap;
  }
  .item{
    flex-basis: 100px;
    flex-grow: 1;
    height: 500px;
    margin: 50px;
    justify-content: center;
  }
  .imgitem{
    flex-basis: 100px;
    flex-grow: 1;
    height: 500px;
    margin-left: 70px;
  }
  .title{
    margin: 30px 50px;
    font-size: 32px;
    display: flex;
    justify-content: center;
  }
  .text{
    font-size: 16px;
    margin: 35px;
  }
  .itemButton{

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    width: 95%;
    width: 290px;
    display: flex;
    justify-content: space-between;

    border: none;

    background-color: #f7f5f2;
    color: black;
    border: 2px solid #1e1919;
    left: 24px;
    height: 24px;
    padding: 24px;
    margin: 35px;
  }
  .itemCanceltext{
    color: gray;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: -15px;
  }
}
@media (max-width: 1199px) {

  .container{
    display: flex;
    justify-content: center;
    margin: 140px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container2{
    display: flex;
    justify-content: center;
    margin: 140px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .item{
    flex-basis: 100px;
    flex-grow: 1;
    margin: 50px;
    justify-content: center;
  }
  .imgitem{
    display: flex;
    justify-content: center;
    flex-basis: 100px;
    flex-grow: 1;
    height: 750px;
  }
  .title{
    margin: 30px 50px;
    font-size: 32px;
    display: flex;
  }
  .text{
    font-size: 16px;
    margin: 30px 50px;
    text-align: left;
  }
  .itemButton{

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    width: 95%;
    width: 290px;
    display: flex;
    justify-content: space-between;

    border: none;

    background-color: #f7f5f2;
    color: black;
    border: 2px solid #1e1919;
    left: 24px;
    height: 24px;
    padding: 24px;
    margin: 50px;
  }
  .itemCanceltext{
    color: gray;
    margin-left: 50px;
    margin-right: 35px;
    margin-top: -15px;
  }
}


.headitem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 100px;
  flex-grow: 1;
  height: 500px;
}
.onlytext{
  margin: 150px 200px 150px;
  text-align: center;
}
.headtext{
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 8px;
}
a{
  text-decoration-line: none;
  color: white;
}

.topMenuButton{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  width: 95%;
  width: 120px;
  display: flex;
  justify-content: space-between;

  border: none;

  background-color: #0061fe;
  color: white;

  height: 25px;
  margin: -10px;
  padding: 10px 16px 10px 12px;
  font-weight: 400;
}
button{

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  width: 95%;
  display: flex;
  justify-content: space-between;

  border: none;

  background-color: #0061fe;
  color: white;

  left: 24px;
  height: 72px;
  padding: 24px;
}
.canceltext{
  color: gray;
  margin: 20px;
}
